{% extends 'admin/index.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}任务管理{% endblock %}

{% block content %}
{#    <nav aria-label="breadcrumb">#}
{#        <ol class="breadcrumb">#}
{#            {{ render_breadcrumb_item('admin.index', '后台主页') }}#}
{#            {{ render_breadcrumb_item('admin.manage_task', '任务管理') }}#}
{#        </ol>#}
{#    </nav>#}
    <div class="page-header">
        <h1>任务审批
            <small class="text-muted">{{ pagination.total }}</small>
        </h1>
    </div>
    {% if tasks %}
        <table class="table table-striped">
            <thead>
            <th>研究题目</th>
            <th>研究者</th>
            <th>数量</th>
            <th>间隔</th>
            <th>设备</th>
            <th>提交时间</th>
            <th>操作</th>
            </thead>
            <tbody>
            <meta charset="UTF-8">
            {% for task in tasks %}
                <tr class="mb-1">
                    <td><a href="{{ url_for('main.show',uid=task.id) }}">{{ task.title }}</a></td>
                    <td>{{ task.researcher }}</td>
                    <td>{{ task.patients_count }}</td>
                    <td>{{ task.time_wait }}</td>
                    <td>{{ task.transport_to }}</td>
                    <td>{{ task.timestamp.strftime('%Y-%m-%d') }}</td>
                    <td>
                        <form class="inline" action="{{ url_for('admin.accept', task_id=task.id) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="submit"
                                   class="btn btn-primary btn-sm" value="通过">
                        </form>
                        <form class="inline" action="{{ url_for('admin.reject', task_id=task.id) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="submit" onclick="return confirm('确定拒绝此任务?');"
                                   class="btn btn-danger btn-sm" value="拒绝">
                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>当前无需审批任务.</h5></div>
    {% endif %}
{% endblock %}